#calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 200px;
    margin: auto;
}

#displayBox {
    grid-column: span 4;
    height: 40px;
    text-align: right;
    padding: 10px;
    border: 1px solid #000;
}

.btn {
    padding: 20px;
    font-size: 18px;
}
